/* IMAGENES Y POSICIONAMIENTO DE LOS PRODUCTOS  */
.fotoProducto{
    width: 99%;
    height: 150px;
}
.columnaProductos{
    width: 50%;
    float: left;
    padding: 10px;
}   
.filaProductos:after{
    clear: both;
    content: "";
    display: table;
    position: absolute;
    left: 50%;
    top: 50%;
}
/* TEXTOS DE LOS PRODUCTOS */
.nombreProducto{
    font-size: 25px;    
    margin-bottom: 0px;
}
.precioProducto{
    font-size: 20px;
    margin-bottom: 0px;
}
.stockProducto{
    font-size: 15px;
    margin-bottom: 0px;
}
.descripcionProducto{
    font-size: 10px;
    margin-bottom: 0px; 
}