.fotoProducto{
    width: 99%;
    height: 150px;
}
.columnaProductos{
    width: 50%;
    float: left;
    padding: 10px;
}   
.filaProductos:after{
    clear: both;
    content: "";
    display: table;
    position: absolute;
    left: 50%;
    top: 50%;
}