{% block title %}Alta rol{% endblock %}
<!DOCTYPE html>
<html lang="es">
<hml>
    {% block body %}
    <head>
        <title>App Flask</title>
    </head>
    <body>
        <form method="GET">
            {{form.id_role.label}}
            {{form.id_role}}
            <br/>
            {{form.name_role.label}}
            {{form.name_role}}
            <br>
            {{form.description.label}}
            {{form.description}}
            <br>
            {{form.is_admin.label}}
            {{form.is_admin}}
            <br>
            {{form.username.label}}
            {{form.username}}
            <br>
            {{form.submit}}
        </form>
    </body>
    {% endblock %}
</hml>