{% extends "layout.html" %}
{% block body %}
    {% for producto in productos %}
    <div class="filaProductos">
        <div class="columnaProductos">
            <img class="fotoProducto" src="https://picsum.photos/200/300" alt="Producto 1">
            <p class="nombreProducto">{{ producto }}</p>
            <p class="precioProducto">10 €</p>
            <p class="stockProducto">Stock Actual: 10</p>
            <p class="descripcionProducto">Primer producto de prueba</p>
        </div>
    </div>
    {% endfor %}
{% endblock %}